<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jbpm="http://drools.org/schema/drools-spring"
    xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.2.xsd
          http://drools.org/schema/drools-spring
          classpath:/org/drools/container/spring/drools-spring.xsd">

    <bean id="jbpmEMF" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="org.jbpm.persistence.local" />
    </bean>

    <bean id="jbpmTxManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="jbpmEMF" />
        <property name="nestedTransactionAllowed" value="true" />
    </bean>
    <jbpm:kbase id="kbase">
           <jbpm:resources>
               <jbpm:resource type="BPMN2" source="classpath:/com/yzframework/process/CarLoanProcess.bpmn" />
               <jbpm:resource type="BPMN2" source="classpath:/com/yzframework/process/HouseLoanProcess.bpmn" />
               <jbpm:resource type="BPMN2" source="classpath:/com/yzframework/process/CompanyLoanProcess.bpmn" />
           </jbpm:resources>
       </jbpm:kbase>
    <jbpm:ksession id="ksession" type="stateful" kbase="kbase">
        <jbpm:configuration>
            <jbpm:jpa-persistence>
                <jbpm:transaction-manager ref="jbpmTxManager" />
                <jbpm:entity-manager-factory ref="jbpmEMF" />
            </jbpm:jpa-persistence>
        </jbpm:configuration>
    </jbpm:ksession>
    
    
    <bean id="jbpmLogger" class="org.jbpm.process.audit.JPAWorkingMemoryDbLogger">
        <constructor-arg ref="ksession" />
    </bean>

    <bean id="htTxManager" class="org.drools.container.spring.beans.persistence.HumanTaskSpringTransactionManager">
        <constructor-arg ref="jbpmTxManager" />
    </bean>

    <bean id="systemEventListener" class="org.drools.SystemEventListenerFactory" factory-method="getSystemEventListener" />

    <bean id="internalTaskService" class="org.jbpm.task.service.TaskService">
        <property name="systemEventListener" ref="systemEventListener" />
    </bean>

    <bean id="springTaskSessionFactory" class="org.jbpm.task.service.persistence.TaskSessionSpringFactoryImpl"
        init-method="initialize" depends-on="internalTaskService">
        <property name="entityManagerFactory" ref="jbpmEMF" />
        <property name="transactionManager" ref="htTxManager" />
        <property name="useJTA" value="true" />
        <property name="taskService" ref="internalTaskService" />
    </bean>

    <bean id="taskService" class="org.jbpm.task.service.local.LocalTaskService" depends-on="internalTaskService">
        <constructor-arg ref="internalTaskService" />
    </bean>
    
    <context:component-scan base-package="com.yzframework.service"/>
    
    <bean id="yzUserGroupCallback" class="com.yzframework.base.YZUserGroupCallbackImpl" init-method="init">
        <property name="jbpmService" ref="jbpmService"/>
    </bean>

    <bean class="org.jbpm.task.identity.UserGroupCallbackManager" factory-method="getInstance">
        <property name="callback" ref="yzUserGroupCallback" />
    </bean>

</beans>